@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191970;
    margin: -10px -10px;
}

.navbar li {
    float: left;
}

.navbar .brand{
    margin-right: 30em;
    margin-left: 5em;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 20px;
}

.navbar .link a:hover {
    background-color: #ff3333;
}

.data{
    background-color: black;
}

.profile img{
    margin-top: 3em;
    margin-left: 5em;
    height: 200px;
    float: left;
}

.data-diri ul{
    color: #191970;
    margin-top: 4em;
    margin-bottom: 2em;
    float: right;
    margin-right: 55em;
    list-style-type:none;
}

.data-diri ul li{
    margin-top: 1em;
    font-family: 'Roboto';
    font-weight: 900;
}

.btn {
    margin-left: 10em;
    background-color: #191970;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10em;
}

.btn:hover{
    background-color: #ff3333;
}

.krs table{
    float: right;
    margin-top: -8em;
    margin-right: 3em;
}

.krs table, th, td {
    border: 1px solid black;
    text-align: center;
    font-family: 'Roboto';
}

.semester form{
    margin-left: 5em;
    margin-top: 2em;
}

.semester form .btn-smt{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 1em;
}

.semester form .btn-smt:hover{
    background-color: red;
}

.inputKrs table, th, td {
    border: 1px solid black;
    text-align: center;
    font-family: 'Roboto';
    margin-top: 1em;
}

.inputKrs table .hilang{
    display: none;
}

.inputKrs form .btn-inputKrs{
    margin-top: 1em;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
}

.inputKrs form .btn-inputKrs:hover{
    background-color: red;
}
