body{
    background-color: 	#778899;
}

.h3{
    margin-left: 31em;
    margin-top: 5em;
    margin-right: 31em;
    padding: 2em 5em;
    background-color: #191970;
}

.h3 h3{
    margin-left: 3em;
    color: white;
    font-family: 'Roboto';
}

.login{
    margin-left: 31em;
    margin-right: 31em;
    padding: 2em 5em;
    background-color: white;
}

.login h3{
    margin-left: 4em;
}

.login input{
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-family: 'Roboto';
}

.login .button{
    background-color: #191970;
    color: white;
    border-radius: 3em;
    padding: 7px 80px;
    margin-top: 10px;
}

.login .button:hover{
    background-color: blue;
}

